<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Collections" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Console" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.IO" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.IO.FileSystem" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Linq" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Reflection" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Reflection.Primitives" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Runtime" version="4.0.20-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Runtime.Extensions" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Runtime.Handles" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Runtime.InteropServices" version="4.0.20-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Text.Encoding" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Threading" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Threading.Overlapped" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Threading.Tasks" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Threading.ThreadPool" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="xunit" version="2.0.0-beta5-build2785" />
  <package id="xunit.abstractions.netcore" version="1.0.0-prerelease" />
  <package id="xunit.assert" version="2.0.0-beta5-build2785" />
  <package id="xunit.core.netcore" version="1.0.1-prerelease" />
  <package id="xunit.runner.visualstudio" version="0.99.9-build1021" />
</packages>