###############################################################################
# Ignore line endings settings for .xml files in this location
###############################################################################
*.xml -text
