<?xml version="1.0"?>
<configuration>
  <satelliteassemblies>
    <assembly name="EvtSrcForReflection, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null">
      <culture>fr-FR</culture>
    </assembly>
  </satelliteassemblies>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
