# EditorConfig is awesome:
http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use spaces as indentation
# Trim trailing whitespace
[*]
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.cs]
indent_size = 4

[*.csproj]
indent_size = 2

[*.nuspec]
indent_size = 2
