# EditorConfig is awesome:
http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# 4 space indentation
[*]
insert_final_newline = true
indent_style = space
indent_size = 4
