<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Don't use any higher level config files.
       Our builds need to be isolated from user/machine state -->
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear/>
  </packageSources>
</configuration>
