<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net452" />
</packages>
