<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".cs" #>
<#@ import namespace="System" #>
<# WriterType = RawTextWriterType.Encoded; #>
<#@ include file="XmlRawTextWriterGenerator.ttinclude" #>
<#+
    public RawTextWriterType WriterType;
    public enum RawTextWriterType {
        Utf8, Encoded
    }
#>
