<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".cs" #>
<#@ import namespace="System" #>
<#@ include file="RawTextWriterUtf8.ttinclude" #>
<#@ include file="XmlRawTextWriterGeneratorAsync.ttinclude" #>
