<configuration>
  <!-- Don't use any higher level config files.
       Our builds need to be isolated from user/machine state -->
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear/>
    <add key="dotnet-core-internal-tooling" value="https://devdiv.pkgs.visualstudio.com/_packaging/dotnet-core-internal-tooling/nuget/v3/index.json" />
    <add key="dotnet-internal" value="https://dnceng.pkgs.visualstudio.com/_packaging/dotnet-internal/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>