<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.19" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp80" />
  <package id="xunit.portable" version="0.0.88-aamain00050" targetFramework="wp80" />
  <package id="xunit.portable.runners" version="0.0.88-aamain00050" targetFramework="wp80" />
</packages>