<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.0.0-beta-22512" />
  <package id="System.Collections" version="4.0.10-beta-22512" />
  <package id="System.Collections.Concurrent" version="4.0.10-beta-22512" />
  <package id="System.Console" version="4.0.0-beta-22512" />
  <package id="System.Diagnostics.Contracts" version="4.0.0-beta-22512" />
  <package id="System.Diagnostics.Debug" version="4.0.10-beta-22512" />
  <package id="System.Diagnostics.Tracing" version="4.0.10-beta-22512" />
  <package id="System.Dynamic.Runtime" version="4.0.0-beta-22512" />
  <package id="System.Linq" version="4.0.0-beta-22512" />
  <package id="System.Reflection" version="4.0.10-beta-22512" />
  <package id="System.Reflection.Extensions" version="4.0.0-beta-22512" />
  <package id="System.Reflection.TypeExtensions" version="4.0.0-beta-22512" />
  <package id="System.Runtime" version="4.0.20-beta-22512" />
  <package id="System.Runtime.Extensions" version="4.0.10-beta-22512" />
  <package id="System.Runtime.InteropServices" version="4.0.20-beta-22512" />
  <package id="System.Text.RegularExpressions" version="4.0.10-beta-22512" />
  <package id="System.Threading" version="4.0.0-beta-22512" />
  <package id="System.Threading.Tasks" version="4.0.10-beta-22512" />
  <package id="System.Threading.Tasks.Parallel" version="4.0.0-beta-22512" />
  <package id="System.Threading.ThreadPool" version="4.0.10-beta-22512" />
  <package id="xunit" version="2.0.0-beta5-build2785" />
  <package id="xunit.abstractions.netcore" version="1.0.0-prerelease" />
  <package id="xunit.assert" version="2.0.0-beta5-build2785" />
  <package id="xunit.core.netcore" version="1.0.0-prerelease" />
</packages>