<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>{TFM}</TargetFramework>
    <RuntimeIdentifiers>{RIDs}</RuntimeIdentifiers>
    <TestPackageId>{PackageId}</TestPackageId>
    <TestPackageVersion>{PackageVersion}</TestPackageVersion>

    <SupportFilesDir Condition="'$(SupportFilesDir)' == ''">$([MSBuild]::GetDirectoryNameOfFileAbove($(MSBuildThisFileDirectory), Directory.Build.props))\support</SupportFilesDir>
  </PropertyGroup>
  
  <ItemGroup>
    <PackageReference Include="{PackageId}" Version="{PackageVersion}" />
  </ItemGroup>

  <!-- Temporary till SDK supports transitive framework references. -->
  <ItemGroup>
    <KnownFrameworkReference Remove="Microsoft.AspNetCore.App" />
    <KnownFrameworkReference Remove="Microsoft.WindowsDesktop.App" />
  </ItemGroup>

  <Import Project="$(SupportFilesDir)\packageTest.targets" />
</Project>
