<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Diagnostics.Debug" version="4.0.10-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Resources.ResourceManager" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Runtime" version="4.0.20-beta-22605" targetFramework="portable-net45+win" />
  <package id="System.Runtime.Handles" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Runtime.InteropServices" version="4.0.20-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Security.Cryptography.Encryption" version="4.0.0-beta-22703" targetFramework="portable-net45+win" />
  <package id="System.Threading" version="4.0.10-beta-22703" targetFramework="portable-net45+win"/>
</packages>
