<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for System.DirectoryServices.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Chk ( (x86))&quot; configuration in project &quot;F:\dd\IDA_1\src\ndp\fx\src\ds\System\DirectoryServices\System.DirectoryServices.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1007" Action="None" />
    <Rule Id="CA1008" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1011" Action="Warning" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1013" Action="None" />
    <Rule Id="CA1014" Action="Warning" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="Warning" />
    <Rule Id="CA1018" Action="Warning" />
    <Rule Id="CA1019" Action="Warning" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1023" Action="Warning" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1025" Action="Warning" />
    <Rule Id="CA1026" Action="Warning" />
    <Rule Id="CA1027" Action="Warning" />
    <Rule Id="CA1028" Action="Warning" />
    <Rule Id="CA1030" Action="Warning" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="Warning" />
    <Rule Id="CA1035" Action="None" />
    <Rule Id="CA1036" Action="Warning" />
    <Rule Id="CA1038" Action="Warning" />
    <Rule Id="CA1039" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1041" Action="Warning" />
    <Rule Id="CA1043" Action="Warning" />
    <Rule Id="CA1044" Action="Warning" />
    <Rule Id="CA1045" Action="Warning" />
    <Rule Id="CA1046" Action="Warning" />
    <Rule Id="CA1047" Action="None" />
    <Rule Id="CA1048" Action="None" />
    <Rule Id="CA1049" Action="None" />
    <Rule Id="CA1050" Action="Warning" />
    <Rule Id="CA1051" Action="Warning" />
    <Rule Id="CA1052" Action="Warning" />
    <Rule Id="CA1053" Action="Warning" />
    <Rule Id="CA1054" Action="Warning" />
    <Rule Id="CA1055" Action="Warning" />
    <Rule Id="CA1056" Action="Warning" />
    <Rule Id="CA1057" Action="Warning" />
    <Rule Id="CA1058" Action="Warning" />
    <Rule Id="CA1059" Action="Warning" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1300" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1302" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="Warning" />
    <Rule Id="CA1305" Action="Warning" />
    <Rule Id="CA1306" Action="Warning" />
    <Rule Id="CA1307" Action="Warning" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1309" Action="Warning" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1402" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1406" Action="Warning" />
    <Rule Id="CA1407" Action="None" />
    <Rule Id="CA1408" Action="Warning" />
    <Rule Id="CA1409" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1411" Action="None" />
    <Rule Id="CA1412" Action="None" />
    <Rule Id="CA1413" Action="Warning" />
    <Rule Id="CA1414" Action="None" />
    <Rule Id="CA1415" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1504" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1600" Action="None" />
    <Rule Id="CA1601" Action="None" />
    <Rule Id="CA1700" Action="Warning" />
    <Rule Id="CA1701" Action="Warning" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1703" Action="Warning" />
    <Rule Id="CA1704" Action="Warning" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1708" Action="Warning" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1713" Action="Warning" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1716" Action="Warning" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1719" Action="Warning" />
    <Rule Id="CA1720" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1722" Action="Warning" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1800" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1804" Action="None" />
    <Rule Id="CA1806" Action="Warning" />
    <Rule Id="CA1809" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1813" Action="Warning" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="Warning" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1819" Action="Warning" />
    <Rule Id="CA1820" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2001" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2003" Action="None" />
    <Rule Id="CA2004" Action="Warning" />
    <Rule Id="CA2006" Action="Warning" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2102" Action="Warning" />
    <Rule Id="CA2103" Action="Warning" />
    <Rule Id="CA2104" Action="Warning" />
    <Rule Id="CA2105" Action="Warning" />
    <Rule Id="CA2106" Action="Warning" />
    <Rule Id="CA2107" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2109" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2115" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2118" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2120" Action="Warning" />
    <Rule Id="CA2121" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2127" Action="Warning" />
    <Rule Id="CA2128" Action="Warning" />
    <Rule Id="CA2129" Action="Warning" />
    <Rule Id="CA2130" Action="None" />
    <Rule Id="CA2131" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2133" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2135" Action="None" />
    <Rule Id="CA2136" Action="None" />
    <Rule Id="CA2137" Action="None" />
    <Rule Id="CA2138" Action="None" />
    <Rule Id="CA2139" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2141" Action="None" />
    <Rule Id="CA2142" Action="None" />
    <Rule Id="CA2143" Action="None" />
    <Rule Id="CA2144" Action="None" />
    <Rule Id="CA2145" Action="None" />
    <Rule Id="CA2146" Action="None" />
    <Rule Id="CA2147" Action="None" />
    <Rule Id="CA2149" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2205" Action="None" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2208" Action="Warning" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2211" Action="Warning" />
    <Rule Id="CA2212" Action="None" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2215" Action="None" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2217" Action="Warning" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2221" Action="Warning" />
    <Rule Id="CA2222" Action="None" />
    <Rule Id="CA2223" Action="None" />
    <Rule Id="CA2224" Action="Warning" />
    <Rule Id="CA2225" Action="Warning" />
    <Rule Id="CA2226" Action="None" />
    <Rule Id="CA2227" Action="Warning" />
    <Rule Id="CA2228" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2230" Action="Warning" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2232" Action="None" />
    <Rule Id="CA2233" Action="Warning" />
    <Rule Id="CA2234" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="None" />
    <Rule Id="CA2239" Action="None" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA2243" Action="None" />
    <Rule Id="CA5327" Action="None" />
    <Rule Id="CA5328" Action="None" />
    <Rule Id="CA5329" Action="None" />
    <Rule Id="CA5330" Action="None" />
    <Rule Id="CA5332" Action="None" />
    <Rule Id="CA5333" Action="None" />
    <Rule Id="CA900" Action="None" />
    <Rule Id="CA901" Action="None" />
    <Rule Id="CA903" Action="Warning" />
    <Rule Id="CA904" Action="Warning" />
    <Rule Id="CA905" Action="None" />
    <Rule Id="CA908" Action="None" />
  </Rules>
</RuleSet>