<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Runtime" version="4.0.20-beta-22412" targetFramework="portable-net45+win+wpa81" />
  <package id="xunit" version="2.0.0-beta5-build2785" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="xunit.abstractions" version="2.0.0-beta5-build2785" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="xunit.assert" version="2.0.0-beta5-build2785" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="xunit.core" version="2.0.0-beta5-build2785" targetFramework="portable-net45+win+wpa81+wp80" />
</packages>