<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Linq" version="4.0.0-beta-22703" />
  <package id="System.Runtime" version="4.0.20-beta-22703" />
  <package id="System.Threading.Tasks" version="4.0.10-beta-22703" />
  <package id="System.Xml.ReaderWriter" version="4.0.10-beta-22703" />
  <package id="System.Collections" version="4.0.10-beta-22703" />
  <package id="xunit" version="2.0.0-beta5-build2785" />
  <package id="xunit.abstractions.netcore" version="1.0.0-prerelease" />
  <package id="xunit.assert" version="2.0.0-beta5-build2785" />
  <package id="xunit.core.netcore" version="1.0.0-prerelease" />
  <package id="xunit.runner.visualstudio" version="0.99.9-build1021" />
</packages>
