<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dataStressSettings>
    <sources>
      <source
        name="LocalSqlServer"
        type="SqlServer"
        isDefault="true"
        dataSource="(local)"
        database="stress"
        user="stress"
        password=""
        supportsWindowsAuthentication="false"
        islocal='true'
        disableMultiSubnetFailover = 'true'
        disableNamedPipes = 'true'> 
      </source>
    </sources>
  </dataStressSettings>
</configuration>