<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- NOTE: Leave this file here and keep it in sync with list in dir.props. -->
  <!-- The command-line doesn't need it, but the IDE does.                    -->
  <packageSources>
    <clear/>
    <add key="myget.org dotnet-buildtools" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />
    <add key="myget.org dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
  <packageRestore>
    <!-- Automated package restore in VS does not work at this time with
         this project and it causes build failures in VS. Disable it. -->
    <add key="automatic" value="false" />
  </packageRestore>
</configuration>
