<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <!--
    this is used for boot-strapping build tools.  if you need to add a new
    nuget package source please add it to the item group in dir.props instead.
  -->
  <packageSources>
    <clear/>
    <add key="myget.org dotnet-buildtools" value="https://www.myget.org/F/dotnet-buildtools/" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="..\packages" />
  </config>
</configuration>
