<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#
string instruction = "ExclusiveOr";
string infix = "^";
Type[] operands = new[] { typeof(sbyte), typeof(short), typeof(int), typeof(long), typeof(byte), typeof(ushort), typeof(uint), typeof(ulong), typeof(bool) };
#>
<#@ include file="BinaryBitwiseInstruction.t4" #>